/*CSS*/

#googleMap {
	float: none;
    padding: 10px;
	margin: auto;
    width: 85vw;
    height: 80vh;
	float: none;
    border-radius: 10px;
}

H1{
    color: black;
    font-family: Frutiger Roman;
    font-weight: normal;
    line-height: 1.1em;
    margin 0 0 .5em 0;
    text-align:center;
    font-size: 500%;
}
.greenText{
    color: #589442;
}
body {
  background: #EOFFFF;
}

* {
  margin: 0;
  padding: 0;
}
 
nav {
  margin: 50px;
}
 
ul {
  overflow: auto;
  list-style-type: none;
}
 
li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
li:last-child {
  border-right: none;
}
 
li a {
  text-decoration: none;
  color: #ccc;
  font: 15px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: #666;
}
 
li.active a {
  font-weight: bold;
  color: #333;
}

.btn {
  background: #589442;
  background-image: -webkit-linear-gradient(top, #589442, #ffffff);
  background-image: -moz-linear-gradient(top, #589442, #ffffff);
  background-image: -ms-linear-gradient(top, #589442, #ffffff);
  background-image: -o-linear-gradient(top, #589442, #ffffff);
  background-image: linear-gradient(to bottom, #589442, #ffffff);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: #000000;
  font-size: 8px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 0px;
  margin-right: 0px;
}

.btn:hover {
  background: #589442;
  background-image: -webkit-linear-gradient(top, #589442, #239931);
  background-image: -moz-linear-gradient(top, #589442, #239931);
  background-image: -ms-linear-gradient(top, #589442, #239931);
  background-image: -o-linear-gradient(top, #589442, #239931);
  background-image: linear-gradient(to bottom, #589442, #239931);
  text-decoration: none;
}
